@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --text-color: #111517;
    --background-color: #FAFAFA;
    --background-color2: #FFF;
}

[data-dark-mode] {
    --background-color: #202C36;
    --background-color2: #2B3844;
    --text-color: #FFF;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background-color: #202C36;
        --background-color2: #2B3844;
    }
    .dark-mode {
        display: none;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.color1 {
    /* background-color: #FAFAFA; */
    background-color: var(--background-color);
    color: var(--text-color);
}

.color2 {
    background-color: var(--background-color2);
    color: var(--text-color);
}

.container {
    width: 100%;
    max-width: 730px;
    margin: 77px auto;
}

.table-header {
    margin-bottom: 50px;
}


/* body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F8F8FB;
} */