@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F8F8FB;
}

ul,
li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 730px;
    margin: 77px auto;
}

.table-header {
    margin-bottom: 50px;
}